@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital@1&family=Libre+Baskerville:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght,YTLC@0,6..12,75..125,200..1000,440..540;1,6..12,75..125,200..1000,440..540&display=swap');

:root {
    --main-dark-color: #27374D;
    --medium-color: #526D82;
    --medium-light-color: #9DB2BF;
    --medium-grey: #F0F0F0;
    --light-color-back: #F9F9F9;
    --list-dark-blue: #1D5D9B;
    --light-blue: #75C2F6;
    --clear-blue: #CEE9FF;
    --gold: #F4D160;
    --dark-gold: #C28D30;
    --light-gold: #FBEEAC;
    --lemon-yellow: #E5D283;
    --medium-gold: #C07F00;
    --brown-gold: #4C3D3D;
    --big-size: 66px;
    --size-medium: 36px;
    --medium-light: 28px;
    --intermedium-size: 22px;
    --light-size: 18px;
    --very-light-size: 14px;
    --minimum-size: 12px;

}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Libre Baskerville', serif;
    background-color:var(--light-color-back);
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: var(--size-medium);
}

h3 {
    font-size: var(--medium-light);
}

p {
    font-size: 21px;
}

ul {
    list-style: none;
    padding: 1rem;
}

body {
    display: flex;
    flex-direction: column;
}