:root {
    --main-dark-color: #27374D;
    --medium-color: #526D82;
    --medium-light-color: #9DB2BF;
    --medium-grey: #F0F0F0;
    --light-color-back: #F9F9F9;
    --list-dark-blue: #1D5D9B;
    --light-blue: #75C2F6;
    --clear-blue: #CEE9FF;
    --gold: #F4D160;
    --dark-gold: #C28D30;
    --light-gold: #FBEEAC;
    --lemon-yellow: #E5D283;
    --medium-gold: #C07F00;
    --brown-gold: #4C3D3D;
    --big-size: 66px;
    --size-medium: 36px;
    --medium-light: 28px;
    --intermedium-size: 22px;
    --light-size: 18px;
    --very-light-size: 14px;
    --minimum-size: 12px;

}