@import url('root.css');
@import url('style/header.css');
@import url('style/nav.css');
@import url('style/biography.css');
@import url('style/generics.css');
@import url('style/hobbies.css');
@import url('style/skills.css');
@import url('style/footer.css');

/* all titles sections */
section > h2 {

    padding: 1rem;
    font-size: var(--light-size);
    text-transform: uppercase;
    color: var(--dark-gold);
    border-bottom: 3px solid black;

}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0.5rem;
    color: var(--list-dark-blue);
    margin: 1rem;
    padding: 1.5rem;
}

.title > h2 {
    width: 50%;
    padding: 1.5rem;
    border-bottom: 1px solid var(--dark-gold);
}


@media(max-width:1100px) {
    .quick-id {
        flex-direction: column;
    }
}


@media (max-width: 970px) {

    header {
        min-height: 50vh;
    }

    .biography {
        display: flex;
        flex-direction: column; 
        opacity: 96%;
        background-color: var(--light-color); 
    }

    nav > ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;    
    }

    nav > ul > li {
        width: 100%;
        text-align: center;
        padding: 2% 1.5% !important;
        border-bottom: 1px solid var(--main-dark-color) !important;
        border-top: 0 !important;
    }

    .header-part > h1 {
        color: white;
        margin: 0.5rem !important;
        padding: 0.3rem !important;
        font-size: var(--medium-light) !important;
        border-bottom: 2px solid white;
    
    }

    .common-list {
        padding: 1rem;
    }
    
    .generic-info-id  > .first-content-id > ul > li {
        padding: 0.7rem;
        font-size: var(--light-size);
    }
    
    .generic-info-id > .content-id > ul > li {
        padding: 0.7rem;
        font-size: var(--light-size);
    }

    #skills {
        grid-template-columns: repeat(1,1fr);
        grid-gap: .2rem;
    }

    #about-me-text {
        margin: 2rem;
        font-weight: 300;
        letter-spacing: .5px;
        font-size: 1.2rem;
    }

}

@media (max-width: 550px) {

    nav > ul {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    nav > ul > li > a > h3 {
        font-size: var(--intermedium-size);
        padding: 0.5rem;
    }

    #skills {
        grid-template-columns: repeat(1,1fr);
        grid-gap: 1rem;
    }

    .title > h2 {
        font-size: var(--medium-light);
    }

    .about-me > p {
        font-size: var(--light-size);
        text-align: justify;
        text-justify: inter-word;
        line-height: 2.1rem;
    }
    
    .generic-info-id  > .first-content-id > ul > li {
        padding: 0.5rem;
        font-size: var(--very-light-size);
    }
    
    .generic-info-id > .content-id > ul > li {
        padding: 0.5rem;
        font-size: var(--very-light-size);
    }
    

    .about-me {
        padding: .5rem;
    }

    #about-me-text {
        font-weight: 400;
        letter-spacing: .5px;
        font-size: 1rem;
    }

    .first-section-footer {
        display: flex;
        flex-direction: column;
    }

    .footer-element  {
        align-items: center;
        gap: .3rem;
        border-left: 0;
        border-top: 1px solid black;
        padding: .3rem;
    }
}

@media (hover: hover) {

    .hobby-element:hover {
        background-color: var(--main-dark-color);
    }

    .hobby-element > h4:hover {
        color: white;
    }

}