/* footer section */
footer {
    display: grid;
    grid-template-areas: 
        "first-section-footer"
        "last-section-footer";
    gap: .7rem;
    min-height: 10vh;
    background-color:var(--light-color-back);
    color: black;
    margin: 1rem;

}

.first-section-footer {
    grid-area: first-section-footer;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
    justify-content: space-around;
}


.footer-element {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    border-left: 1px solid black;
    padding: .5rem;
}

.footer-element > h2 {
    font-size: var(--intermedium-size);
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
}

.footer-element > p {
    font-size: var(--very-light-size);
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
}

.footer-element > ul {
    display: flex;
    gap: .8rem;
    padding: 0;
}

.last-section-footer {
    grid-area: last-section-footer;
    background-color:var(--light-color-back);
    color:black;
    border-top: 1px solid var(--gold);
}

.last-section-footer > h4 {
    font-size: var(--minimum-size);
    padding: .8rem;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    text-indent: 30px;
    letter-spacing: .2rem;
    
}