/* footer section */
footer {
    display: grid;
    grid-template-areas: 
        "content content"
        "last-section last-section";
    gap: 2rem;
    margin-top: 5rem;
    min-height: 10vh;
    background-color: rgb(97, 144, 183);
    color: white;
}

.first-section-footer, .second-section-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .7rem;
}

.goodbye > h3 {
    font-size: var(--light-size);
    font-style: oblique;
    
}

.last-info > * {
    padding: .6rem;
}

.last-info > h3 {
    font-size: var(--light-size); 
}

.last-info > p {
    font-size: var(--very-light-size); 
    font-style: oblique;
}

.socials > ul {
    display: flex;
    gap: .8rem;
}

.socials > ul > li {
    cursor: pointer;
}

.last-section {
    grid-area: last-section;
    background-color: black;
    color:white;
}

.last-section > h4 {
    font-size: var(--minimum-size);
    padding: .4rem;
    text-align: center;
}