/* all skill icons */
#skills {
    display: grid;
    min-width: 0;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.3rem;
    justify-items: center;
    padding: 1rem;
    margin: 5rem;

}

.card-row > img {
    padding: 1rem;
}